body{
    margin: 0;
}

.body__container{
    max-width: 1920px;
}

a{
    text-decoration: none;
    display: inline-block;
}


.container{
    margin: 0 100px;
}

/* Header */

.header {
    padding-top: 25px;

    background: url(../image/header/fone.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;  
    align-items: center;
}

.nav__logo a{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.06em;
    color: #fff;

    transition: transform 0.3s ease;
}

    .nav__logo a:hover{
        transform: translate(0%,-20%);
    }

.nav__logo span{
    color: blanchedalmond;
}

.nav__item{
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
}

.nav__item a{
    color: #fff;
    padding: 10px 20px;

    transition: background .3s ease;
}

.nav__item a:hover{
    background: rgba(128, 128, 128, 0.250);
}


.nav__number a{
    color: #fff;
    transition: transform 0.2s;
}

    .nav__number a:hover{
        transform: translate(0,-20%);
    }

/* /.header__title */

.header__desc{
    display: flex;
}

.header__title{
    text-align: center;
    color: #fff;
    margin:50px 100px 0px 100px;

}

@media(min-width:1920px){
    .header__title{
        margin: 50px 250px 0px 250px;
    }
}

.header__suptitle{
    font-size: 55px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.header__subtitle{
    font-size: 30px;
    letter-spacing: 0.2em;
    margin-top: 70px;
    padding:20px 10px;
    border: 2px solid;

    font-weight: 400;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);

}

    .header__subtitle span{
        background: #000;
        font-weight: 700;
    }


.header__image{
    margin-top: 200px;
    color: #000000;
    font-weight: 700;
    background: #d53636;
}

@media(min-width:1920px){
    .header__image{
        margin-top: 180px;
    }
}

